.main1{
    max-height: 390px;
    border: 5px solid;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
      }
.main1::-webkit-scrollbar{
    width: 0;
   
}
.main1 .bds1{
    min-width: 300px;
    height: 340px;
    line-height: 20px;
    text-align: center;  
     margin-right: 2px;
   
}
.swiper-slide{
    list-style: 0px;
}