<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{indexUser}">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>


<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
	integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
	crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
	integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ"
	crossorigin="anonymous">

<link rel="stylesheet" th:href="@{/css/poly.css}" />

</head>
<body class="content">

	<content layout:fragment="main">
	<div>
		<div class="row  text-center">
			<div class="col-12">
				<h1 class="display-5" style="color: blue">Đôi nét về bất động sản</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">

				<p>
					<b>Bất động sản</b> hay còn gọi là địa ốc hay nhà đất là một thuật
					ngữ pháp luật (ở một số nước như Liên hiệp Anh, Canada, Úc, Mỹ và
					Bahama) có ý nghĩa bao gồm đất đai và những gì dính liền vĩnh viễn
					với mảnh đất. Những thứ được xem là dính liền vĩnh viễn như là nhà
					cửa, ga ra, kiến trúc ở trên hoặc dầu khí, mỏ khoáng chất ở dưới
					mảnh đất đó.[1] Những thứ có thể dỡ ra khỏi mảnh đất như nhà di
					động,lều, nhà tạm thì không được xem là bất động sản.

				</p>
				</br> </br>
				<h5 style="margin-bottom: 25px; margin-top: -50px;">Bất động
					sản có thể phân thành ba loại:</h5>
				<p>
					<b>1. Bất động sản có đầu tư xây dựng:</b> bất động sản nhà đất
					(bao gồm đất đai và các tài sản gắn liền với đất đai), bất động sản
					nhà xưởng và công trình thương mại - dịch vụ, bất động sản hạ tầng,
					bất động sản trụ sở làm việc. </br> <b>2. Bất động sản không đầu tư
						xây dựng:</b> Đất nông nghiệp, đất nuôi trồng thủy sản, đất làm muối,
					đất hiếm, đất chưa sử dụng</br> <b>3. Bất động sản đặc biệt:</b> các
					công ình bảo tồn quốc gia, di sản văn hóa vật thể, nhà thờ họ, đình
					chùa, miếu mạo, nghĩa trang,
				</p>
			</div>
			<div class="col-md-6" style="margin-top: 15px;">

				<img th:src="@{/photo/1.png}" width="500px" class="img-fluid">
			</div>
		</div>

		<div class="row  text-center">
			<div class="col-12">
				<h1 class="display-5" style="color: blue">Sự hình thành và phát triển của công ty</h1>
			</div>
		</div>

		<div class="col-12">
			<p>
				Được hình thành từ tháng 9 năm 2020 tập đoàn bất động sản được lấy
				tên<b style="color: red;">THE STAR,</b> tập đoàn gồm có 5 đại diện
				gồm có: <b style="color: blue;">Trần Thiên Hiếu, Nguyễn Thị
					Phương, Lê Văn Thuận, Lê Văn Linh, Đoàn Ngọc Diệp.</b>
			</p>
			Mục tiêu của tập đoàn là sau 3 tháng có thể đạt được doanh thu 1
			triệu USD. <br>
			</p>

		</div>

		<div class="row  text-center">
			<div class="col-12">
				<h1 class="display-5" style="color: blue">Đặc điểm của thị trường bất động sản Việt
					Nam</h1>
			</div>
		</div>

		<div class="col-12">
			<p>
				<b>1.Các đặc điểm vật chất BĐS:</b> Kích cỡ, kiểu loại, hình dáng,
				kết cấu, tuổi thọ, chất lượng, trang thiết bị, tiện nghi…
			</p>
			<b>Tinh trạng pháp lý BĐS:</b> BĐS có mức độ hoàn chỉnh các tài liệu
			pháp lý càng cao, thì giá trị càng cao. Vì thế, khi định giá, xem xét
			về giấy tờ, về quy hoạch, việc hoàn thiện thủ tục pháp lý, nghĩa vụ
			tài chính hoàn thành, thời gian sử dụng BĐS… <br> <b>Đặc
				điểm mặt bằng:</b> Các đặc tính về mặt bằng gồm kích thước, bể rộng mặt
			tiền, hình dáng và các nét đặc trưng địa lý.<br> <b>Địa
				điểm:</b> Gần các cảnh quan nào, tình trạng giao thông, các công trình
			công cộng gần kề, tình trạng ô nhiễm, hệ thống cấp thoát nước và các
			đặc tính địa hình. Những đặc trưng này là quan trọng trong việc xác
			định vị trí, địa điểm đó có thể được coi là sử dụng cao nhất và tốt
			nhất không.<br> <b>Các công trình xây dựng liên quan:</b> Các
			công trình liên quan tới hình dáng và cấu trúc: Sự trang trí, cách
			xây dựng, trang bị tiện nghi và thiết kế… <br> <b>Thời gian
				giao dịch, điểu kiện giao dịch:</b> Có ảnh hưởng quan trọng tới giá giao
			dịch thị trường của BĐS. <br>
			</p>
		</div>
		<div class="row ">
			<div class="col-12 text-center">
				<h1 class="display-5" style="color: blue">Thị trường bất động sản Việt Nam</h1>
			</div>
		</div>
		<div class="row ">
			<div class="col-md-12 col-lg-6">

				<p>
				<h4>Vai trò của mô giới bất động sản</h4>
				</p>
				<p>
					Thị trường BĐS là một trong những thị trường quan trọng của nền
					kinh tế thị trường vì thị trường này liên quan trực tiếp tới một
					lượng tài sản cực lớn cả về quy mô, tính chất cũng như giá trị của
					các mặt trong nền kinh tế quốc dân</br> Phát triển và quản lý tốt thị
					trường BĐS, đặc biệt là thị trường quyền sử dụng đất là điều kiện
					quan trọng để sử dụng có hiệu quả tài sản quý giá thuộc sở hữu toàn
					dân mà Nhà nước là đại diện chủ sở hữu</br> Thị trường nhà ở là bộ phận
					quan trọng chiếm tỷ trọng lớn trong thị trường BĐS. Thị trường nhà
					ở là thị trường sôi động nhất trong thị trường BĐS, những cơn “sốt”
					nhà đất hầu hết đều bắt đầu từ “sốt” nhà ở và lan toả sang các thị
					trường BĐS khác và ảnh hưởng trực tiếp đến đời sống của nhân dân.
					Vì vậy, phát triển và quản lý có hiệu quả thị trường BĐS nhà ở,
					bình ổn thị trường nhà ở, bảo đảm cho giá nhà ở phù hợp với thu
					nhập của người dân là một trong những vai trò quan trọng của quản
					lý nhà nước về thị trường BĐS nhà ở.
				</p>
				<br>
			</div>
			<div class="col-lg-6">
				<img th:src="@{/photo/2.png}" width="500px" class="img-fluid">
			</div>
		</div>
		<div class="row-md">
			<h4>Sự ra đời thị trường bất động sản ở Việt Nam.</h4>
			<p>Các quan hệ hàng hoá tiền tệ trong giao dich về bất động sản
				từng xuất hiện ở Việt Nam từ rất sớm, khởi đầu là giao dịch về đất
				đai và nhà ở đã từng xuất hiện và tồn tại từ thời phong kiến xa xưa
				cũng như thời kỳ Pháp luật. Tư sáu cách mạng tháng 8 năm 1945 đến
				năm 1980, ở Việt Nam tồn tại chế độ đa sở hữu về đất đai: sở hữu tư
				nhân, sở hữu tập thể, sở hữu của các tổ chức và sở hữu Nhà nước. Các
				hoạt động giao dịch mua bán, cho thuê, cầm cố giữa các cá nhân về
				đất đai và nhà ở đã xuất hiện tuy không phải là phổ biến nhưng vẫn
				được thực hiện theo truyền thống tập quán cộng đồng, do các bên tham
				gia giao dịch tự thoả thuận với nhau. Mặc dù không có các văn bản
				pháp luật quy định về giao dịch bất động sản, song Nhà nước vẫn thừa
				nhận và làm thủ tục xác nhận cho các giao dịch mua bán và thu thuế
				trước bạ khi đăng ký quyền sở hữu nhà đất.</p>
			<p>Trước năm 1980, đất đai và bất động sản được tồn tại dưới 3
				hình thức sở hữu khác nhau là: sở hữu Nhà nước - toàn dân, sở hữu
				tập thể - hợp tác xã và sở hữu tư nhân, kể cả các nhà tư sản dân
				tộc. Do tồn tại 3 hình thức sở hữu khác nhau về bất động sản, nên
				bất động sản vẫn tham gia vào quá trình trao đổi (mua bán) một cách
				bình thường.</p>
			</br>


		</div>
	</div>
	</content>

	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
		integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
		crossorigin="anonymous"></script>

	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
</body>
</html>