<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" /> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>


<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
	integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
	crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
	integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ"
	crossorigin="anonymous">

<link rel="stylesheet" th:href="@{/css/poly.css}"/>

</head>
<body class="content">
	<div class="row-md menu">
    <div class="col-md-2">
        <img th:src="@{/photo/logo.png}" width="auto" height="120px" />
    </div>
        <nav class=" navbar col-md-10">
            <div class="collapse navbar-collapse nav-left">

                <div class="navbar-nav">
                    
                    <a class="nav-item nav-link active" href="/bds/list">sàn giao dịch</a>
                    <a class="nav-item nav-link" href="/admin/list">ql nhân viên</a>
                    <a class="nav-item nav-link" href="/users/list">ql người dùng</a>
                    <a class="nav-item nav-link" href="/hd/list">ql hợp đồng</a>
                </div>
            </div>
            <div class="nav-right">
                <a class="btn btn-primary" href="/login" style="color: white">đăng xuất</a>
                <a class="btn btn-default" href="#">đăng tin</a>
            </div>
        </nav>
</div>

<content layout:fragment="main">
</content>

	<div class="fter row-md">
		<div class="row-md ">
			<div class="col-md-3">
				<div style="text-align: center;">
					<img th:src="@{/photo/logo.png}" height="200px" width="auto" />
				</div>

				<h2>Công ty TNHH Stars</h2>
				<p>
					<span class="glyphicon glyphicon-map-marker"></span> 137 Nguyễn Thị
					Thập, Hòa Minh, Liên Chiểu, Đà Nẵng

				</p>

			</div>
			<div class="col-md-2">
				<p>
				<h4>
					<b>Thông tin</b>
				</h4>
				<a href="#">Liên Hệ</a><br> <a href="#">Giới thiệu</a><br>
				<a href="#">Câu hỏi thường gặp</a><br> <a href="#">Quy tắc
					hoạt động</a><br> <a href="#">Quy tắc đăng tin</a>
				</p>
			</div>
			<div class="col-md-4">
				<p>
				<h4>
					<b>Hỗ trợ</b>
				</h4>
				<span class="glyphicon glyphicon-phone-alt"></span> (023) 3456 3457
				<span class="glyphicon glyphicon-headphones"></span> Tổng đài CSKH:
				1900 1888<br> <span class="glyphicon glyphicon-envelope">
					bdsStars@gmail.com</span><br> <span class="glyphicon glyphicon-globe">
					<a href="#"> https://www.facebook.com/bdsStars/ </a>
				</span><br>
				</p>
				<hr>
				<h3>Đăng kí để nhận thông tin mới nhất!</h3>
				<form class="navbar-form">
					<div class="form-group ">
						<input type="text" class="form-control" placeholder="Nhập email!">

					</div>
					<button type="submit" class="btn btn-success">Đăng kí</button>
				</form>
			</div>
			<div class="col-md-3">
				<h3>Giấy phép hoạt động</h3>
				<p>
					Giấy ĐKKD số 0104630479 do Sở KHĐT TP Hà Nội cấp lần đầu ngày
					02/06/2010<br> Giấy phép ICP số 2399/GP-STTTT do Sở TTTT Hà
					Nội cấp ngày 04/09/2014<br> Giấy phép GH ICP số 3832/GP-TTĐT
					do Sở TTTT Hà Nội cấp ngày 08/08/2019<br> Quy chế, quy định
					giao dịch có hiệu lực từ 23/02/2020
				</p>
			</div>
		</div>
		<div class="row-md">

			<p style="text-align: center;">Copyright © 2007 - 2020
				Batdongsan.com.vn</p>
		</div>
	</div>


	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
		integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
		crossorigin="anonymous"></script>

	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
</body>
</html>