<div class="fter row-md">
    <div class="row-md ">
        <div class="col-md-3">
            <div style="text-align: center;">
                <img src="photo/logo.png" height="200px" width="auto" />
            </div>

            <h2>Công ty TNHH Stars</h2>
            <p>
                <span class="glyphicon glyphicon-map-marker"></span>
                Tầng 9 tòa nhà Vĩnh Trung Plaza số 255 – 257 Hùng Vương, Phường Vĩnh Trung, Quận Thanh Khê, Đà Nẵng

            </p>

        </div>
        <div class="col-md-2">
            <p>
            <h4><b>Thông tin</b></h4>
            <a href="#">Liên hệ</a><br>
            <a href="#">Giới thiệu</a><br>
            <a href="#">Câu hỏi thường gặp</a><br>
            <a href="#">Quy chế hoạt động</a><br>
            <a href="#">Quy định đăng tin</a>
            </p>
        </div>
        <div class="col-md-4">
            <p>
            <h4><b>Hỗ trợ</b></h4>
            <span class="glyphicon glyphicon-phone-alt"></span>
            023 3456 3457
            <span class="glyphicon glyphicon-headphones"></span> Tổng đài CSKH: 1900 1888<br>
            <span class="glyphicon glyphicon-envelope">
                bdsstars@gmail.com</span><br>
            <span class="glyphicon glyphicon-globe">
                <a href="#">
                    https://www.facebook.com/bdsStars/
                </a>
            </span><br>
            </p>
            <hr>
            <h3>Đăng kí nhận thông tin mới nhất!</h3>
            <form class="navbar-form">
                <div class="form-group ">
                    <input type="text" class="form-control" placeholder="Nhập email!">

                </div>
                <button type="submit" class="btn btn-success">Đăng kí</button>
            </form>
        </div>
        <div class="col-md-3">
            <h3>Giấy phép hoạt động</h3>
            <p>Giấy ĐKKD số 0104630479 do Sở KHĐT TP Hà Nội cấp lần đầu ngày 02/06/2010<br>
                Giấy phép ICP số 2399/GP-STTTT do Sở TTTT Hà Nội cấp ngày 04/09/2014<br>
                Giấy phép GH ICP số 3832/GP-TTĐT do Sở TTTT Hà Nội cấp ngày 08/08/2019<br>
                Quy chế, quy định giao dịch có hiệu lực từ 23/02/2020
            </p>
        </div>
    </div>
    <div class="row-md">
       
        <p style="text-align: center;">Copyright © 2007 - 2020 Batdongsan.com.vn</p>
    </div>
</div>