<div class="row-md" style="text-align: center;">
    <form class="form-inline">
        <select class="mdb-select form-control colorful-select dropdown-primary " searchable="Hình thức">
            <option value="1">bds bán</option>
            <option value="2">bds thuê</option>
        </select>
        <input class="form-control" type="search col-md-3" placeholder="Search" aria-label="Search">
        <!--Blue select-->
        <select class="mdb-select form-control colorful-select dropdown-primary " searchable="Loại nhà đất">
            <option value="1">Nhà riêng</option>
            <option value="2">Chung cư</option>
            <option value="3">Căn hộ</option>
            <option value="4">Biệt thự</option>
        </select>
        <select class="mdb-select form-control colorful-select dropdown-primary " searchable="Địa chỉ">
            <option value="1">Toàn quốc</option>
            <option value="2">Hồ Chí Minh</option>
            <option value="3">Đà Nẵng</option>
            <option value="4">Hà Nội</option>
        </select>
        <select class="mdb-select form-control colorful-select dropdown-primary " searchable="Diện tích">
            <option value="1">Dưới 100 m2</option>
            <option value="2">100 m2 - 200 m2</option>
            <option value="3">200 m2 - 300 m2 </option>
            <option value="4">Trên 300m2</option>
        </select>
        <select class="mdb-select form-control colorful-select dropdown-primary " searchable="Giá">
            <option value="1">Dưới 2 tỷ</option>
            <option value="2">2 tỷ - 5 tỷ</option>
            <option value="3">5 tỷ - 10 tỷ</option>
            <option value="4">Trên 10 tỷ</option>
        </select>

        <button class="btn btn-success" type="submit">Search</button>
    </form>
</div>