<div class="row-md menu">
    <div class="col-md-2">
        <img src="/photo/logo.png" width="auto" height="120px" />
    </div>
        <nav class=" navbar col-md-10">
            <div class="collapse navbar-collapse nav-left">

                <div class="navbar-nav">
                    
                    <a class="nav-item nav-link active" href="#">trang chủ</a>
                    <a class="nav-item nav-link" href="#">bản tin</a>
                    <a class="nav-item nav-link" href="#">giới thiệu</a>
                    <a class="nav-item nav-link" href="#">liên hệ</a>
                    <a class="nav-item nav-link" href="#">hướng dẫn</a>
                </div>
            </div>
            <div class="nav-right">
                <button class="btn btn-primary">ĐĂNG NHẬP</button>
                <button class="btn btn-default">ĐĂNG TIN</button>
            </div>
        </nav>
</div>
