<div class="row-md menu">
    <div class="col-md-2">
        <img th:src="@{/photo/logo.png}" width="auto" height="120px" />
    </div>
        <nav class=" navbar col-md-10">
            <div class="collapse navbar-collapse nav-left">

                <div class="navbar-nav">
                    
                    <a class="nav-item nav-link active" href="/bds/list">sàn giao dịch</a>
                    <a class="nav-item nav-link" href="/admin/list">ql admin</a>
                    <a class="nav-item nav-link" href="/users/list">ql users</a>
                    <a class="nav-item nav-link" href="/hd/list">ql hợp đồng</a>
                </div>
            </div>
            <div class="nav-right">
                <button class="btn btn-primary">Đăng Nhập/Đăng Xuất</button>
                <button class="btn btn-default">Đăng Tin</button>
            </div>
        </nav>
</div>
